.profile-links {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 3ch;
}

.profile-links a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;

  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.profile-links a:hover {
  font-size: 1.9ch;
}

.description {
  font-size: 2.5ch;
}
.name {
  font-size: 5ch;
}
.profile-img {
  width: 15ch;
}

.profile-sidebar {
  background-color: black;
}