/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  box-sizing: border-box;
  background-color: #E5E5E5; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

a, a:visited {
  text-decoration: none;
  color: inherit; }

ul, ol {
  list-style-type: none; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  line-height: 1.7;
  color: #344563; }

.header {
  width: 100%;
  height: 7.2rem;
  background-color: #FFFFFF;
  padding: 0 15rem;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0 3rem; } }
  .header__logo {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    color: #6070FF; }
  .header__nav > ul {
    display: flex;
    flex-flow: row nowrap; }
    .header__nav > ul > li {
      margin-right: 4rem; }
      .header__nav > ul > li > a {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .header__nav {
      display: none; } }
  .header__nav-button {
    display: none;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-button {
        display: block; } }
  .header__nav-icon {
    position: relative;
    margin-top: 3.5rem; }
    .header__nav-icon, .header__nav-icon::before, .header__nav-icon::after {
      width: 3rem;
      height: 2px;
      background-color: #6070FF;
      display: inline-block; }
    .header__nav-icon::before, .header__nav-icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .header__nav-icon::before {
      top: -0.8rem; }
    .header__nav-icon::after {
      top: 0.8rem; }
  .header__nav-button:hover .header__nav-icon::before {
    top: -1rem; }
  .header__nav-button:hover .header__nav-icon::after {
    top: 1rem; }

.main {
  margin-top: 7.2rem; }

.head {
  padding: 20rem 30rem;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .head {
      padding: 10rem 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .head {
      padding: 5rem 2rem;
      border-bottom-left-radius: 10rem; } }
  .head > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6rem;
    color: #091E42;
    margin-bottom: 1.5rem; }
  .head > p {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #344563;
    margin-bottom: 4rem; }
  .head > a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #7F8CFF; }
  .head__links {
    margin-top: 1rem; }
    .head__links > a > img {
      width: 2rem;
      margin-right: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .head__links {
        margin-bottom: 8rem; } }

.card {
  display: flex;
  flex-flow: row nowrap;
  background-color: #FFF;
  transition: transform 0.3s;
  border-radius: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      flex-flow: column nowrap; } }
  .card:hover {
    transform: translateY(-1rem) scale(1.03); }
  .card__left {
    width: 50%;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .card__left {
        width: 100%; } }
  .card__rigth {
    width: 50%;
    padding: 4rem 2rem;
    padding-right: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .card__rigth {
        width: 100%;
        padding: 2rem; } }
  .card__img {
    width: 100%; }
  .card__head {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    color: #091E42;
    margin-bottom: 2rem; }
  .card__sub-header {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #6B778C;
    text-justify: center;
    margin-bottom: 3rem; }
  .card__p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2rem; }
  .card__tags > span {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: .4rem 1.2rem;
    border-radius: .8rem;
    color: #6070FF;
    background-color: #EBEBFF; }

.portfolio {
  padding: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .portfolio {
      padding: 12rem 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .portfolio {
      padding: 12rem 3rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
    @media only screen and (max-width: 75em) {
      .popup__content {
        width: 80%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 96%; } }
  .popup__head {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    color: #373838; }
  .popup__sub-header {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #6B778C;
    text-justify: center;
    margin-bottom: 1.5rem; }
  .popup__img {
    width: 100%;
    border-radius: 1rem; }
  .popup__bottom {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__bottom {
        flex-flow: column nowrap;
        padding-top: 1rem; } }
    .popup__bottom-left {
      width: 70%; }
      @media only screen and (max-width: 56.25em) {
        .popup__bottom-left {
          width: 100%; } }
    .popup__bottom-rigth {
      width: 30%;
      padding-left: 1.5rem; }
      @media only screen and (max-width: 56.25em) {
        .popup__bottom-rigth {
          width: 100%;
          padding: 0; } }
  .popup__p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2rem; }
  .popup__tags {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem; }
    .popup__tags > span {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding: .4rem 1.2rem;
      border-radius: .8rem;
      color: #6070FF;
      background-color: #EBEBFF;
      margin-right: .5rem; }
  .popup__links {
    display: flex;
    flex-flow: row wrap; }
    .popup__links > a {
      border: 1px solid #7F8CFF;
      box-sizing: border-box;
      border-radius: .8rem;
      background: #FFFFFF;
      padding: .6rem .8rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1rem;
      color: #6070FF;
      margin-right: 1rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: gray;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: gray; }

.about {
  display: flex;
  flex-flow: row nowrap;
  padding: 8rem 10rem;
  background-color: #FFF;
  border-top-right-radius: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 4rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 4rem 2rem;
      border-top-right-radius: 10rem;
      flex-flow: column nowrap; } }
  .about__left {
    width: 45%; }
    @media only screen and (max-width: 37.5em) {
      .about__left {
        width: 100%;
        margin-bottom: 2rem; } }
    .about__left > h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      line-height: 5.2rem;
      color: #091E42;
      margin-bottom: 2.5rem; }
    .about__left > p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #344563;
      margin-bottom: 2rem; }
    .about__left > a.about__connect {
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #7F8CFF; }
    .about__left > a.about__resume {
      border: 1px solid #7F8CFF;
      box-sizing: border-box;
      border-radius: .8rem;
      background: #FFFFFF;
      padding: .6rem .8rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1rem;
      color: #6070FF; }
  .about__links {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .about__links > a > img {
      width: 2rem;
      margin-right: 1rem; }
  .about__rigth {
    width: 55%;
    padding-left: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .about__rigth {
        width: 100%;
        padding: 0; } }
  .about__skills > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #344563;
    margin-bottom: 2rem; }
  .about__skills-lang {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem; }
    .about__skills-lang > img {
      width: 4.5rem;
      margin-right: 1rem; }
  .about__skills-framework, .about__skills-skill {
    margin-bottom: 2rem; }
    .about__skills-framework > span, .about__skills-skill > span {
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding: .4rem 1.2rem;
      border-radius: .8rem;
      color: #6070FF;
      background-color: #EBEBFF; }

.contact {
  background-color: #FFF; }
  .contact__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15rem 45rem;
    background-color: #6070FF;
    border-top-left-radius: 15rem; }
    @media only screen and (max-width: 75em) {
      .contact__content {
        padding: 15rem 30rem; } }
    @media only screen and (max-width: 56.25em) {
      .contact__content {
        padding: 10rem 25rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__content {
        padding: 8rem 3rem;
        border-top-left-radius: 10rem; } }
    .contact__content > h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      line-height: 5.2rem;
      color: #FFF;
      margin-bottom: 3rem; }
    .contact__content > p {
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.8rem;
      color: #FFF;
      margin-bottom: 3rem; }
    .contact__content > form {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 4rem;
      width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .contact__content > form {
          padding: 0; } }
      .contact__content > form input, .contact__content > form textarea {
        border: 1px solid #CFD8DC;
        border-radius: 1rem;
        padding: 1rem;
        margin-bottom: 2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2rem;
        color: #172B4D; }
        .contact__content > form input::placeholder, .contact__content > form textarea::placeholder {
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.4rem;
          color: #B3BAC5; }
      .contact__content > form button {
        align-self: center;
        padding: .5rem 5rem;
        background: #FFFFFF;
        border-radius: .8rem;
        border: 1px solid #7F8CFF;
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2.4rem;
        color: #6070FF; }
        @media only screen and (max-width: 37.5em) {
          .contact__content > form button {
            align-self: flex-start; } }
