.header {
    width: 100%;
    height: 7.2rem;
    background-color: #FFFFFF;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}